*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Poppins;
}

/*header start*/
.app_header{
   padding: 10px 50px;
   /* text-align: center; */
}

.app_header_container_name_and_image img{
    width: 150px;
    height:150px;
    border-radius: 50%;
}

.app_header_container_name{
    font-size: 50px;
    text-transform: uppercase;
}

.app_header_container_job span{
    font-size: 23px;
    text-transform: capitalize;
}

.app_header_container_email_and_phone{
    padding-top: 15px;
}
.app_header_container_email_and_phone #phone {
    text-decoration: none;
    color: black;
}


.app_header_container_email_and_phone #email{
   color: blue;
}

/*header end*/


/*app_main_work_experience start*/
.app_main{
    height: 140vh;
    /* text-align: center; */
}
.app_main_left{
    margin-left: 40px;
    margin-top: 70px;
    padding: 0 16px;
    width: 34%;
    /* border: 1px solid red; */
    border-left: 3px dashed gray;
}
.app_main_work_experience_container{
    /* border: 1px solid black; */
    margin-top: 30px;
    width: 100%;
}
.app_main_work_experience_title{
    color: rgb(34, 196, 196);
    text-transform: uppercase;
    
}

.app_main_work_experience_company_name{
    text-transform: uppercase;
    font-family: bold;
    font-size: 20px;

}

.app_main_work_experience_parag{
    margin-top: 7px;
}

/*app_main_work_experience end*/


/*app_main_other_projects start*/
.app_main_other_projects_container{
    /* border: 1px solid black; */
    margin-top: 20px;
    width: 100%;
}
.app_main_other_projects_title{
    color: rgb(34, 196, 196);
    text-transform: uppercase;
    padding-top: 35px;
    
}

.app_main_other_projects_name_container span{
    font-weight: 700;
    padding:10px
}

.app_main_other_projects_parag{
    margin-top: 15px;
    
}
/*app_main_other_projects end*/

/*app_main_education start*/
.app_main_right{
    margin-left: 40px;

    padding: 0 16px;
    width: 30%;
    /* border: 1px solid red; */
    border-left: 3px dashed grey;
}
.app_main_education_container{
    /* border: 1px solid black; */
    margin-top: 40px;
    width: 100%;
}
.app_main_education_title{
   
    color: rgb(34, 196, 196);
    text-transform: uppercase;
    
    
}

.app_main_education_company_name{
    text-transform: uppercase;
    font-family: bold;
    font-size: 20px;

}

.app_main_education_parag{
    margin-top: 15px;
}
/*app_main_education end*/


/*app_main_language start*/
.app_main_language_container{
    /* border: 1px solid black; */
    margin-top: 60px;
    width: 100%;
}
.app_main_language_title{
    padding-top: 20px;
    color: rgb(34, 196, 196);
    text-transform: uppercase;
    
}


.app_main_language_parag{
    margin-top: 30px;
    list-style-type: none;
}
/*app_main_language end*/


/*app_main_skills start*/
.app_main_skills_container{
    /* border: 1px solid black; */
    margin-top: 30px;
    width: 100%;
}
.app_main_skills_title{
    padding-top: 20px;
    color: rgb(34, 196, 196);
    text-transform: uppercase;
    
}


.app_main_skills_parag{
    margin-top: 10px;
    list-style-type: none;
}
/*app_main_skills end*/


.app_main_left,.app_main_right{
    display: inline-block;
}